<embed src="timetracker/angular-time-pausetracker/index.html" style="width:100%;min-height:600px;"></embed>

 <div  id="app">
    <div id="head">
        <div class="circles">
            <div class="progress-wrapper" ng-controller="currentPause" id="pause">
                <div class="progress pause" ng-show="run === false">{{currentText}}</div>
                <div round-progress max="max" current="current" color="white" bgcolor="#262b34" radius="70" stroke="10" semi="false" rounded="false" clockwise="false" responsive="false" duration="2400" animation="easeInOutQuart" ng-class="{dimmedpause:run}"></div>
            </div>

            <div class="progress-wrapper" ng-controller="currentTask">
                <div class="progress task" ng-show="run === true">{{currentText}}</div>
                <div round-progress max="max" current="current" color="#00c0ff" bgcolor="#262b34" radius="70" stroke="3" semi="false" rounded="false" clockwise="false" responsive="false" duration="2400" animation="easeInOutQuart" ng-class="{dimmedplay:!run}"></div>
            </div>
        </div>
        <div class="interaction" ng-controller="controls">
            <span class="btn" ng-click="startpause()"><i class="mdi mdi-pause" ng-show="run === true"></i><i class="mdi mdi-play" ng-show="run === false"></i></span>
            <span class="btn primary" ng-click="addnote()"><i class="mdi mdi-plus"></i></span>
        </div>
    </div>
    <div id="content" ng-controller="tasks">
       <div style="text-align:center" ng-hide="tasks.length > 0">
          <h2 style="margin:20px 0 0 0;"><img src="https://lexlab.io/llp_core/img/lll3.svg" /></h2>
          <h3 style="margin:0;"> You have no recorded tasks yet</h3>
       </div>
       <input placeholder="Filter" ng-show="tasks.length > 0" type="text" id="filter" ng-model="taskfilter" />
       <ul>                  
          <li class="list-animation" ng-repeat="task in tasks | filter: taskfilter track by $index"><span class="date">{{task.date}}</span> <b>{{task.note}}</b><span class="right"><span class="time">{{task.ftime}}</span><span class="pause">{{task.fpause}}</span><i class="mdi mdi-delete" ng-click="delete($index)"></i></span></li>
       </ul>
   </div>
</div>